
* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F9F9F9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('snoppy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    backdrop-filter: blur(5px);
    margin-bottom: 30px;
}

h2 {
    color: #6C4A90;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Comic Sans MS', sans-serif;
}

.about-link {
    margin-top: 20px;
    text-align: center;
}

.about-link a {
    color: #6C4A90;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

.about-link a:hover {
    color: #8B79B9;
}

.about-section {
    background-color: #FFFFFF;
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
}

.about-section h2 {
    color: #6C4A90;
    font-size: 26px;
    margin-bottom: 15px;
}

.about-content {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}

.monstro-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background-image: url('snoppy.jpg');
    background-size: cover;
    background-position: center;
    display: block;
    margin-left: auto; 
    margin-right: auto;

    }